[user]
	name = Bruno Guidolim
	email = bguidolim@gmail.com
[push]
	default = simple
[alias]
	com = commit
	co  = checkout
	br  = branch
	st  = status
	rb  = rebase
	l   = "log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[core]
	editor = /usr/bin/vim
